.delete-wpr { position: relative; }

.delete { 
  display: block; 
  position: absolute; 
  top: 0px; 
  left: -35px; 
}

.input-noshow {
  border-color:#fff;  
}

.shadow {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.13); /* drop shadow */
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.13); /* drop shadow */
  box-shadow: 0 0 5px rgba(0,0,0,.13); /* drop shadow */
}

.prev_container {
  overflow: auto;
  width: 300px;
  height: 175px;
}

.prev_thumb {
  margin: 10px;
  height: 150px;
}

.invoice-page {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:#fff; 
  padding:25px; 
}

.subView {
  margin-right:10px;
}

.container {
  max-width:  992px;
}

.invoice-logo {
  width:225px; 
  height:150px;
}

.delete-logo {
  display:none; 
  margin-top:10px;
}
.invoice-data-td {
  background-color:#f5f7f8;
}
.invoice-data-td strong {
  line-height:35px; 
}
.invoice-items-th {
  background-color:#f5f7f8;
}
.text-align-right {
  text-align:right;
}
.invoice-total {
  line-height:76px;
}

body {
  background-color:#F0F0F0; 
  padding-top: 60px;
}

.chart {
  border: 2px dashed #ebebe0;
  overflow: hidden;
}

.chart h3 {
  text-decoration: underline;
}

.chart em {
  font-weight: bold;
}

#seperator {
  margin: 20px 0;
  height: 2px;
  background-color: #ddd;
}

#canvas-holder {
  float: left;
  margin-left: 30px;
  border-right: 2px dotted #ddd;
  padding-right: 80px;
}

#canvas-holder1 {
  float: right;
  margin-right: 50px;
}

#chart-area {
  margin-top: 10px;
}

#chart-area1 {
  margin-top: 10px;
}

#canvas {
  margin-top: 10px;
}

/* =================================================================== */
/* *********************** END CHART STYLING ************************* */
/* =================================================================== */