{include="header"}

	<div class="container" style="max-width:none">
		<div class="page-header">
	      <a href="forms.php" class="btn btn-warning pull-right">Go Back</a>
	      <h3>{$pageTitle}</h3>
	    </div>
	</div>

	<div class="container-fluid"><!-- container-fluid -->
		<div class="row"><!-- row -->
			<div class="col-md-10 col-md-offset-1"><!-- Main form area -->
				<div class="panel panel-primary main-panel"><!-- panel-primary -->
					
					<div class="panel-heading"><!-- panel-heading -->
						Fill in your requirements
					</div><!-- panel-heading -->
					
					<!-- Main Form -->
					<form method="POST" action="create-job-requirement.php">
						<div class="panel-body" data-categories='{$categories}'><!-- panel-body -->
							
							<!-- Job Title -->
							<div class="form-group description"><!-- form-group -->
								<h4 class="col-md-12"><u>Job Title</u></h4>
								<div class="col-md-8">
									<input type="text" class="form-control" name="description" required>
								</div>
							</div><!-- END form-group -->
							<!-- END Job Title -->

							<!-- Job Description -->
							<div class="form-group description"><!-- form-group -->
								<h4 class="col-md-12"><u>Job Description</u></h4>
								<p class="col-md-12">Enter Complete Job Description: </p>
								<div class="col-md-9">
									<textarea class="form-control" name="job_description" required></textarea>
								</div>
							</div><!-- END form-group -->
							<!-- END Job Description -->

							<!-- Education Details -->
							<div class="form-group education-requirements"><!-- form-group -->
								<h4 class="col-md-12"><u>Education</u><span style="margin-left:5px" class="custom-field-of-study btn btn-xs btn-info pull-right">Add custom 'Field of Study'</span></h4>
								
								<div id="educationList" data-degrees='{$degrees}' data-fields='{$fields}'><!-- EducationList -->

									<!-- ============================================================================================== -->
									<!-- <div class="requirement-data education col-md-12">
										<label class="control-label col-md-1">Degree:</label>
										<div class="col-md-3">
											<select class="autocomplete-field" name="requirement_degree[]" required>
												<option value="" disabled selected>- Select Degree -</option>
												{loop="degrees"}
												<option value="{$value.degree_id}">{$value.degree_name}</option>
												{/loop}
											</select>
										</div>
										<label class="control-label col-md-1">Field of Study:</label>
										<div class="col-md-3">
											<select class="autocomplete-field" name="requirement_field[]" required>
												<option value="" disabled selected>- Select Fields -</option>
												{loop="fields"}
												<option value="{$value.field_id}">{$value.field_name}</option>
												{/loop}
											</select>
										</div>
										<label class="control-label col-md-1">Priority:</label>
										<div class="col-md-2">
											<input type="range" name="reqirement_education_priority[]" min="0" max="10">	
										</div>
										<div class="col-md-1">
											<a style="cursor:pointer"><span class="remove glyphicon glyphicon-remove"></span></a>
										</div>
									</div>
									
									<div class="col-md-12" style="height:1px; background:#aaa; margin:10px 0"></div> -->
									<!-- ============================================================================================== -->

								</div><!-- END EducationList -->

								<div class="add-education-button col-md-8">
									<input type="button" value="Add Education Requirement" class="form-control" id="addEducation" />
								</div>

							</div><!-- END form-group -->
							<!-- END Education Details -->

							<!-- Skills Details -->
							<div class="form-group skills-details"><!-- form-group -->
								<h4 class="col-md-12"><u>Skills</u><span style="margin-left:5px" class="custom-skill btn btn-xs btn-info pull-right">Add custom 'Skill'</span></h4>

								<div id="skillsList" data-skills='{$skills}'><!-- Skills List -->
									
									<!-- ============================================================================================== -->
									<!-- <div class="candidate-data skill col-md-10">
										<label class="control-label col-md-1">Skill:</label>
										<div class="col-md-5">
											<select class="form-control" name="requirement_skill[]">
												<option>HTML</option>
												<option>CSS</option>
												<option>JQuery</option>
											</select>
										</div>
										<label class="control-label col-md-1">Priority:</label>
										<div class="col-md-4">
											<input type="range" name="requirement_skill_priority[]" min="0" max="10">	
										</div>
										<div class="col-md-1">
											<a style="cursor:pointer"><span class="remove glyphicon glyphicon-remove"></span></a>
										</div>
									</div> -->
									<!-- ============================================================================================== -->

								</div><!-- END skillsList -->

								<div class="add-skill-button col-md-8">
									<input type="button" value="Add Skill Requirement" class="form-control" id="addSkill" />
								</div>
								
							</div><!-- END form-group -->
							<!-- END Skills Details -->

							<!-- Experience Details -->
							<div class="form-group experience-details"><!-- form-group -->
								<h4 class="col-md-12"><u>Experience</u><span style="margin-left:5px" class="custom-experience btn btn-xs btn-info pull-right">Add custom 'Experience'</span></h4>

								<div id="experienceList" data-titles='{$titles}'><!-- Experience List -->

									<!-- ============================================================================================== -->
									<!-- <div class="requirement-data experience col-md-12">
										<label class="control-label col-md-1">Field Type:</label>
										<div class="col-md-4">
											<select class="form-control" name="requirement_experience[]" required>
												<option value="">- Select Area -</option>
												<option>Software Development</option>
												<option>Software Project Managment</option>
												<option>Hotel Management</option>
												<option>System Architecture</option>
												<option>Supply Chain Management</option>
												<option>Other</option>
											</select>
										</div>
										<label class="control-label col-md-2">Years of Experience:</label>
										<div class="col-md-1">
											<input type="number" class="form-control" name="reqirement_experience_years[]" min="0" max="10">
										</div>
										<label class="control-label col-md-1">Priority:</label>
										<div class="col-md-2">
											<input type="range" name="reqirement_experience_priority[]" min="0" max="10">
										</div>
										<div class="col-md-1">
											<a style="cursor:pointer"><span class="remove glyphicon glyphicon-remove"></span></a>
										</div>
									</div>
									
									<div class="col-md-12" style="height:1px; background:#aaa; margin:10px 0"></div> -->
									<!-- ============================================================================================== -->

								</div><!-- END Experience List -->

								<div class="add-position-button col-md-8">
									<input type="button" value="Add Experience Requirement" class="form-control" id="addExperience" />
								</div>
								
							</div><!-- END form-group -->
							<!-- END Experience Details -->

							<!-- Certification Details -->
							<div class="form-group certification-details"><!-- form-group -->
								<h4 class="col-md-12"><u>Certification</u><span style="margin-left:5px" class="custom-certification btn btn-xs btn-info pull-right">Add custom 'Certification'</span></h4>
								
								<div id="certificationList" data-certifications='{$certifications}'><!-- Certification List -->

									<!-- ============================================================================================== -->	
									<!-- <div class="candidate-data certification col-md-8">
										<label class="control-label col-md-2">Certification:</label>
										<div class="col-md-4">
											<select class="form-control" name="requirement_certification[]">
												<option>CCNA</option>
												<option>MCCP</option>
												<option>ACCA</option>
											</select>
										</div>
										<label class="control-label col-md-1">Priority:</label>
										<div class="col-md-4">
											<input type="range" name="requirement_skill_priority[]" min="0" max="10">	
										</div>
										<div class="col-md-1">
											<a style="cursor:pointer"><span class="remove glyphicon glyphicon-remove"></span></a>
										</div>
									</div> -->
									<!-- <div class="col-md-12" style="height:1px; background:#aaa; margin:10px 0"></div> -->
									<!-- ============================================================================================== -->

								</div><!-- END Certification List -->

								<div class="add-certificate-button col-md-8">
									<input type="button" value="Add Certification Requirement" class="form-control" id="addCertificate" />
								</div>
								
							</div><!-- END form-group -->
							<!-- END Certification Details -->

							<!-- Preferred Maximum Salary -->
							<div class="form-group salary-range"><!-- form-group -->
								<h4 class="col-md-12"><u>Salary</u></h4>
								
								<div class="col-md-12">
									<label class="control-label col-md-2">Preferred expected salary (maximum):</label>
									<div class="col-md-3">
										<input type="number" class="form-control" name="requirement_salary" min="0" required>
									</div>
									<label class="control-label col-md-7">Maximum salary you can afford to pay for the job. You can see in the responses section which of your applicants' expected salary is below or equal to this amount.</label>
								</div>
								
							</div><!-- END form-group -->
							<!-- END Preferred Maximum Salary -->

							<!-- Form Expiry Date -->
							<div class="form-group salary-range"><!-- form-group -->
								<h4 class="col-md-12"><u>Form Expiry</u></h4>
								
								<div class="col-md-12">
									<label class="control-label col-md-2">Form Expiry Date:</label>
									<div class="col-md-3">
										<input type="date" class="form-control" name="requirement_expiry_date" min="0" required>
									</div>
									<label class="control-label col-md-7">The job application form will be available till this date, after this date it will automatically be disabled and no one will be able to apply for the job using this form.</label>
								</div><!-- END Certification List -->
								
							</div><!-- END form-group -->
							<!-- END Preferred Maximum Salary -->

						</div><!-- END panel-body -->

						<div class="panel-footer"><!-- panel-footer -->					
							<button type="submit" name="submit" class="btn btn-primary">Submit</button>								
						</div><!-- END panel-footer -->

					</form>
					<!-- END Main Form -->
				</div><!-- END panel-primary -->
			</div><!-- END Main form area -->
		</div><!-- END row -->
	</div><!-- END container-fluid -->
{include="footer"}