{include="header"}
  <div class="container">
    <div class="page-header">
      <a href="forms.php" class="btn btn-success pull-right">Back</a>
      <h2>{$pageTitle}</h2>
    </div>

    <div class="row rating-example">
      <div class="col-md-12 ">
        {$pageContent}
        {if="$candidates != ''"}
          <table class="footable table table-bordered" id="reviews">
            <thead>
              <tr>                
                <th width="19%">Name</th>
                <th>Status</th>
                <th width="9%">Expected Salary(Rs.)</th>
                <th width="7%">Within Range</th>
                <th data-hide="phone,tablet" width="9%">Education (%)</th>
                <th data-hide="phone,tablet" width="5%">Skills (%)</th>
                <th data-hide="phone,tablet" width="9%">Experience (%)</th>
                <th data-hide="phone,tablet" width="10%">Certification (%)</th>
                <th width="10%">Total Score (%)</th>
                <th data-hide="phone" width="22%">Actions</th>
              </tr>
            </thead>
            <tbody>
            {loop="candidates"}
              <tr>                
                <td><a href="candidate-data.php?id={$value.candidate_ID}&form={$form_id}&score={$value.candidate_score}" target="_blank"><b>{$value.candidate_name}</b></a></td>
                <td class="status"><u>{$value.candidate_status}</u></td>
                <td>{$value.candidate_expected_salary}</td>
                <td>{$value.candidate_expected_salary_within_range}</td>
                <td>{$value.candidate_score_education}</td>
                <td>{$value.candidate_score_skills}</td>
                <td>{$value.candidate_score_experience}</td>
                <td>{$value.candidate_score_certification}</td>
                <td>{$value.candidate_score}</td>
                <td>
                  <a href="candidate-data.php?id={$value.candidate_ID}&form={$form_id}&score={$value.candidate_score}" target="_blank" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Candidate's info"><span class="glyphicon glyphicon-user"></span></a>

                  <a href="{$value.candidate_resume}" target="_blank" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="CV"><span class="glyphicon glyphicon-list-alt"></span></a>

                  <div style="display: inline-block; cursor:pointer; line-height:0;" data-toggle="tooltip" {if="$value.candidate_status === 'SHORTLISTED'"}title="Shortlisted !" {else} title="Shortlist" {/if} class="shortlist-btn-div">
                    <a class="btn btn-sm btn-info shortlist-btn" {if="$value.candidate_status === 'SHORTLISTED'"}disabled{/if} data-candidate-id="{$value.candidate_ID}" data-action="shortlist"><span class="glyphicon glyphicon-ok"></span></a>
                  </div>

                  <div style="display: inline-block; cursor:pointer; line-height:0;" data-toggle="tooltip" {if="$value.candidate_status === 'REJECTED'"} title="Rejected !" {else}title="Reject" {/if} class="reject-btn-div">
                    <a class="btn btn-sm btn-danger reject-btn" {if="$value.candidate_status === 'REJECTED'"}disabled{/if} data-candidate-id="{$value.candidate_ID}" data-action="reject"><span class="glyphicon glyphicon-remove"></span></a>
                  </div>

                  <div style="display: inline-block; cursor:pointer; line-height:0;" data-toggle="tooltip" data-placement="right" {if="$value.candidate_status === 'SHORTLISTED'"} title="Send interview email" {else} title="Need to shortlist first" {/if} class="interview-btn-div">
                    <a class="btn btn-sm btn-primary interview-btn" {if="$value.candidate_status !== 'SHORTLISTED'"}disabled{/if} data-candidate-id="{$value.candidate_ID}" data-action="interview"><span class="glyphicon glyphicon-envelope"></span></a>
                  </div>

                </td>
              </tr>
            {/loop}
            </tbody>
          </table>
        {/if}
      </div>
    </div>
  </div>
{include="footer"}