{include="header"}
  <div class="container">
    <div class="page-header">
      <a href="forms.php" class="btn btn-success pull-right">Back</a>
      <h2>{$pageTitle}</h2>
    </div>

    <div class="row rating-example">
      <div class="col-md-12 ">
        {$pageContent}
        {if="$candidates != ''"}
          <table class="footable table table-bordered" id="reviews">
            <thead>
              <tr>
                <th>Date applied</th>
                <th>Name</th>
                <th data-hide="phone">Contact Number</th>
                <th>Score</th>
                <th>Status</th>
                <th data-hide="phone">Actions</th>
              </tr>
            </thead>
            <tbody>
            {loop="candidates"}
              <tr>
                <td><a href="#">{$value.candidate_date_applied}</a></td>
                <td>{$value.candidate_name}</td>
                <td>{$value.candidate_contact}</td>
                <td>{$value.candidate_score}</td>
                <td>{$value.candidate_status}</td>
                <td>
                  
                  <a href="candidate-data.php?id={$value.candidate_ID}&form={$form_id}" target="_blank" class="btn btn-sm btn-info">View Candidate's Data</a>
                  <a href="{$value.candidate_resume}" target="_blank" class="btn btn-sm btn-danger">CV</a>
                  <div class="dropdown">
                      <button class="shortlist-btn btn-sm dropdown-toggle" aria-expanded="false" aria-haspopup="true" id="menu1" type="button" data-toggle="dropdown">Status<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="demo" aria-labelledby="menu1">
                        <li><a data-id="{$value.candidate_ID}" data-form-id="{$form_id}" data-value="Shortlist">Shortlist</a></li>
                        <li><a data-value="Reject" data-id="{$value.candidate_ID}" data-form-id="{$form_id}" >Reject</a></li>
                      </ul>
                    </div>
                   </td>
              </tr>
            {/loop}
            </tbody>
          </table>
        {/if}
      </div>
    </div>
  </div>
  {include="footer"}

